* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #6f4e37;
}

#navbarSupportedContent {
    flex-grow: 0;
    margin-left: auto
}

.navbar-nav {
    margin-left: 70px;
}

.products {
    padding: 0;
}

.rating-list {
    list-style-type: none;
}

#footer {
    padding-top: 20px;
    background-color: #6f4e37;
}

#social-media-div {
    padding: 15px;
}

.social-media {
    padding-right: 10px;
}

.footer-copyright {
    margin-top: 30px;
}