* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#my-navbar {
    background-color: #6f4e37;
}

.rating-list {
    list-style-type: none;
}

#footer {
    background-color: #6f4e37;
}

#social-media-div {
    padding: 15px;
}

.social-media {
    padding-right: 10px;
}