* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#my-navbar {
    background-color: teal;
}

#footer {
    background-color: teal;
}

#social-media-div {
    padding: 15px;
}

.social-media {
    padding-right: 10px;
}